

<div class="container-fluid">
  <mat-card>
    <mat-card-header>

      <div>
        <mat-card-title class="head" style="color:plum                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           "> S'inscrire</mat-card-title>
      </div>
    </mat-card-header>


      <nb-card>

        <nb-card-body>
    <div class="row">
      <div class="col-3">

      </div>
  <div class="col-9">
          <img class="avatar border-gray" src="../../assets/medianet.PNG" alt="...">
  </div>
</div>


          <div *ngIf="this.test" >
            <h2 class="text-center font-weight-normal" style="color:dodgerblue;">
              Thanks for your passing the test ,we will contact you by email or phone
            </h2>

          </div>

          <div *ngIf="this.inscrit" >
            <h4 class="text-center font-weight-normal" style="color:dodgerblue;">thanks for your subscribe ms {{this.nom}}</h4><br>
             <h4 class="text-center font-weight-normal" style="color:dodgerblue;">
               we will contact you for passing  the Test
            </h4>
          </div>





        </nb-card-body>


        <nb-card-footer>


        </nb-card-footer>
      </nb-card>





  </mat-card>
</div>
